# Ignore Rules for TealsMC/Forge/Eclipse/

config/
crash-reports/
logs/
RemoteSystemTempFiles/
saves/
screenshots/

options.txt
.markers
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
textures_?.png
usernamecache.json

.metadata/.lock
.metadata/.mylyn/
.metadata/.log
.metadata/version.ini

# Upon eclipse workspace creation
.history/
.indexes/
.markers.snap
.recommenders/
.safetable/
.snap
1.tree
org.eclipse.jdt.launching/
org.eclipse.jdt.core/
org.eclipse.m2e.logback.configuration/
org.eclipse.rse.core/
org.eclipse.rse.ui/
org.eclipse.team.cvs.core/
org.eclipse.wst.jsdt.core/
org.eclipse.e4.workbench/
org.eclipse.jdt.ui/
org.eclipse.pde.core/
org.eclipse.ui.workbench/
